
.text-field{
    -fx-text-fill: #E9C582;
}

.jfx-button-Playlist{
    -fx-background-color: #303030;
    -fx-text-fill: #E9C582;
    -fx-pref-width: 100;
    -fx-font-family: Poppins;
    -fx-font-size: 16;
}

.jfx-button-Album{
    -fx-background-color: #303030;
    -fx-text-fill: #E9C582;
    -fx-pref-width: 110;
    -fx-font-family: Poppins;
    -fx-font-size: 16;
}

.jfx-listView{
    -fx-background-color: #303030;
    -fx-control-inner-background: #303030;
}

.jfx-text-field-WhenDone{
    -fx-text-fill: #e9c582;

}

.jfx-text-field-WhenEdit{
    -fx-text-fill: #8ba0a9;
}

.anchorPane{
    -fx-background-color: #454444;
}

.text-populate{
    -fx-text-fill: #F1F6F1;
}

.jfx-text-field-LogIn{
    -fx-text-fill: #e9c582;
}

.jfx-text-field-Search{
    -fx-text-fill: #8ba0a9;
}

.jfx-popup-Pop{
    -fx-background-color: #E9B350;
}
.vBox-Pop{
    -fx-background-color: #E9B350;
}

.jfx-button-RightClick{
    -fx-background-color: #E9B350;
    -fx-text-fill: #303030;
    -fx-font-family: Poppins;
    -fx-font-size: 12;
    -fx-pref-width: 130;
}

.vBox-PopPlaylist{
    -fx-background-color: #8ba0a9;
}

.jfx-button-RightPlaylist{
    -fx-background-color: #8ba0a9;
    -fx-text-fill: #303030;
    -fx-font-family: Poppins;
    -fx-font-size: 12;
    -fx-pref-width: 115;
}
.jfx-combo-box-Filter .cell{
    -fx-background-color: #303030;
    -fx-text-fill: #F1F6F1;
    -fx-font-family: Poppins;
    -fx-font-size: 12;

}

.jfx-text-field-Register{
    -fx-text-fill: #8BA0A9;
}

.text-input-Error{
    -fx-font-family: Poppins;
    -fx-font-size: 18;
    -fx-fill: #8ba0a9;
}

.anchorPane-Error{
    -fx-background-color: #303030;
}

.text-input-PopulateTitle{
    -fx-font-family: Poppins;
    -fx-font-size: 14;
    -fx-fill: #f1f6f1;
}

.text-input-PopulateInfo{
    -fx-font-size: 12;
    -fx-font-family: Poppins;
    -fx-fill: #f1f6f1;
}
